/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

/* src/components/Header.css */
.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}



/* src/components/MainContent.css */
.app-container {
  display: flex;
  flex: 1;
}

.main-content-container {
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .main-content-container {
    margin: 5px;
    padding: 5px;
  }
}

/* src/components/Footer.css */
.footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 5px;
  }
}